<tr>
    <td bgcolor="#ff6600">
        <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="width:18px;padding-right:4px">
                        <a href="/"><img src="/{{ site.logo }}" style="border:1px white solid;" height="18" width="18"></a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                        <span class="pagetop">
                            <b class="hnname"><a href="/">{{ site.title }}</a></b>
                        </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                        <span class="pagetop">
                            <a href="/profile">{{ site.author }}</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr style="height:10px"></tr>
