<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <center>
        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
            <tbody>
                {% include head-menu.html %}

                {{ content }}
            </tbody>
        </table>
    </center>
</body>
</html>
