---
layout: default
---
<tr>
    <td>
        <table border="0">
            <tbody>
                <tr>
                    <td valign="top">user:</td>
                    <td>
                        <a href="/profile" class="hnuser">{{ site.author }}</a>
                    </td>
                </tr>
                <tr>
                    <td valign="top">created:</td>
                    <td>
                        {% for post in site.posts limit:1 %}
                            {% assign dateStart = post.date | date: "%s" %} <!-- Find date of earliest blog post -->
                        {% endfor %}
                        {% assign nowTimestamp = "now" | date: "%s" %} <!-- Get the current time -->
                        {% assign diffSeconds = nowTimestamp | minus: dateStart %} <!-- Calculate the difference in seconds between earliest blog post and current time -->
                        {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %} <!-- Calculate the difference in days between earliest blog post and current time -->
                        {{ diffDays }} days ago
                    </td>
                </tr>
                <tr>
                    <td valign="top">about:</td>
                    <td>{{ site.description }}</td>
                </tr>
                <tr>
                    <td valign="top">email:</td>
                    <td>{{ site.email }}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </td>
</tr>
